@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }

html, body, #root { height: 100%; }

.container { @apply mx-auto max-w-7xl px-4; }

@layer base {
  a { @apply text-brand; }
}
